.react-datepicker {
    /* font-family: SegoeUI */
}

.react-datepicker__header {
    background-color: white;
    border-bottom: 0;
}

.react-datepicker__day-names > div {
    color: #90a4ae;
    font-size: 12px;
}

.react-datepicker__day {
    width: 32px;
    height: 32px;
    border-radius: 3px;
}

.react-datepicker__day--selected {
    background-color: #0078d7;
    color: #ffffff;
}

.react-datepicker__day--selected:hover {
    background-color: #0078d7;
    color: #ffffff;
}

.react-datepicker__time-container {
    
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
    background-color: #0078d7;
    color: #ffffff;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected:hover {
    background-color: #0078d7;
    color: #ffffff;
}